.window {
    padding: 100px 20px 300px 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 85vh;
    gap: 40px;
    overflow: scroll;
}