.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    color: #fff;
    background-color: #73fa75;
    outline: none;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.loader {
    width: 10px;
    height: 10px;
    background-color:  #313131;
}